/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
/* stylelint-disable*/
a,abbr,acronym,address,applet,article,aside,audio,b,big,blockquote,body,canvas,caption,center,cite,code,dd,del,details,dfn,div,dl,dt,em,embed,fieldset,figcaption,figure,footer,form,h1,h2,h3,h4,h5,h6,header,hgroup,html,i,iframe,img,ins,kbd,label,legend,li,mark,menu,nav,object,ol,output,p,pre,q,ruby,s,samp,section,small,span,strike,strong,sub,summary,sup,table,tbody,td,tfoot,th,thead,time,tr,tt,u,ul,var,video{margin:0;padding:0;border:0;font:inherit;vertical-align:baseline}article,aside,details,figcaption,figure,footer,header,hgroup,main,menu,nav,section{display:block}html{line-height:1}body{line-height:inherit}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:after,blockquote:before,q:after,q:before{content:'';content:none}table{border-collapse:collapse;border-spacing:0}
/* stylelint-enable */

/* Begin site styles below */
html {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 1em; /* 16 / 16 = 1 */
  line-height: 1.25em; /* 20 / 16 = 1.25 */
  background-color: #c1c8e4;
  text-align: left;
}

#header{
  font-size: 2em; /* 32/16 = 2 */
  line-height: 2.5em; /* 40/16 = 2.5em  */
  background-color: #84ceeb;
  font-family:"proxima-nova", sans-serif;
  font-weight: bold;
}

.h-card {
  font-size: 1em; /* 16 / 16 = 1 */
  line-height: 1.25em; /* 20 / 16 = 1.25 */
  padding-bottom: 2em;
}

#education,
#work-experience,
#extracurriculars {
  font-size: 1.5em; /* 24 / 16 = 1.5 */
  line-height: 1.75em; /* 28 / 16 = 1.75 */
  padding-bottom: .5em;
}

.studies,
.companyname-date-jobtitle1,
.companyname-date-jobtitle2,
.companyname-date-jobtitle3,
.extracurricular-name {
  padding-top: .25em;
  font-size: 1em; /* 16/16 = 1 */
  line-height: 1.25em; /* 20 / 16 = 1.25 */
  padding-bottom: .5em;
}

.date-location-duration,
.role1,
.role2,
.role3 {
  font-size: .75em; /* 12 / 16 = .75 */
  line-height: 1em; /* 16 / 16 = 1 */
  padding-bottom: 1em;
}

#navigation {
  padding-top: 1em;
  font-size: 1.5em; /* 24/16=1.5 */
  line-height: 1.75em; /* 28/16=1.75*/
}

.aboutme {
  font-size: 1.5em; /* 24/16 = 1.5 */
  line-height: 1.75; /* 28/16 = 1.75 */
}

#aboutme-body {
  font-size: 1em; /* 16 / 16 = 1*/
  line-height: 1.25em; /* 20/16=1 */
  padding-bottom: 2em;
}

img {
  max-width: 30%;
  display: block;
}

figcaption {
  display: block;
  justify-content: center;
  text-align: center;
}

@media screen and (min-width: 30em) { /* 480/16 = 30 */
  img {
    max-width:50%;
    margin: 0 auto;
    max-height: 50%;
  }
}

@media screen and (min-width: 48em) {  /* 768/16 = 48*/
  img {
    max-width: 50%;
    margin: 0 auto;
    max-height: 50%;
  }

}
